<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>690500312272-959m6dfi9euc8ar2n5iktgt3pep8cbj0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.690500312272-959m6dfi9euc8ar2n5iktgt3pep8cbj0</string>
	<key>API_KEY</key>
	<string>AIzaSyBbryvPIG6tVfyqtqZRW64BDzy_wLQ2fBY</string>
	<key>GCM_SENDER_ID</key>
	<string>690500312272</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>haiphan.AppChat-Again</string>
	<key>PROJECT_ID</key>
	<string>appchatagain</string>
	<key>STORAGE_BUCKET</key>
	<string>appchatagain.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:690500312272:ios:d0f611e125b455f1</string>
	<key>DATABASE_URL</key>
	<string>https://appchatagain.firebaseio.com</string>
</dict>
</plist>